body {
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

input {
    text-align: right;
    min-width: 3ch;
    width: auto;
}

.formula {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.fraction {
    display: inline-block;
    text-align: center;
    margin: 0 0.2rem;
}

.numerator {
    display: block;
}

.denominator {
    display: block;
    border-top: 2px solid black;
}

span {
    font-size: 1.2rem;
}